<h3>{{viewTitle}}</h3>
<form action="/manager" method="POST">
     	<h2>LOGIN</h2>
     	<label>Email: </label>
     	<input type="text" name="manager_email" placeholder="Manager Email"><br>

     	<label>Password</label>
     	<input type="password" name="manager_password" placeholder="Manager Password"><br>
     	<button type="submit">Login</button>
</form>